<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Explora nuestro blog de ingeniería petrolera para obtener insights profundos sobre perforación de pozos, terminación, producción de petróleo y simulación de yacimientos. Conéctate con las últimas técnicas y avances que están marcando el futuro de la industria energética">
    

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/footer.css">

    <script src="https://kit.fontawesome.com/ff3cb8b610.js" crossorigin="anonymous"></script>

    <title>{% block title %}PetrolerosMx | Últimas Tendencias en Ingeniería Petrolera{% endblock %}</title>
</head>

<body>
    <!-- Barra de navegacion -->
    <header class="fixed-nav">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index'%}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'perforacion' %}">Perforación</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'produccion' %}">Producción</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'yacimientos' %}">Yacimientos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Contenido de landing page -->
    <main class="main">
        <div class="description">
            <div class="cubo">
                <figure class="cubo-img">
                    <img src="https://res.cloudinary.com/dea8mmw8j/image/upload/v1672271960/Petroleros%20mx/BLANCO-LOGO_PETROLEROS_MX_qpwij0.png"
                        alt="">
                </figure>

                <h1>{% block encabezado %}Blog de ingeniería petrolera, simple y confiable {% endblock %}</h1>
                <p>{% block subencabezado %}Descubre nuestras últimas noticias, proyectos y temas, así como todo lo relacionado con la industría del petróleo y el gas. {% endblock %}</p>
            </div>
        </div>

        <div class="content-img">
            <figure class="landing-page-img">
                <img src="https://res.cloudinary.com/dea8mmw8j/image/upload/v1672275514/Petroleros%20mx/pozo_f7i8rw.jpg"
                    alt="pozo">
            </figure>
        </div>
    </main>

    <section class="articles">
        
    
        <div class="container">
            {% if post_aprobados %}

            {% for post in post_aprobados%}
            <div class="card" style="width: 18rem; height: 12rem; display: flex; flex-direction: column;">
                <div class="card-body d-flex flex-column" style="height: 100%;">
                    <div style="flex: 1;">
                        <h5 class="card-title">{{post.titulo}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-transform: capitalize;">{{post.categoria}}</h6>
                        <p class="card-text" style="display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden;">
                            {{post.descripcion}}
                        </p>
                    </div>
                    <a href="{% url 'post' post.categoria post.slug %}" class="btn btn-primary mt-auto" style="width: 100px;">Leer más</a>
                </div>
            </div>
            
            
            {% endfor %}

            {% else %}
            <h5>No hay posts</h5>
            {% endif %}
        </div>

    </section>

    <!-- Footer -->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>Quiénes somos</h6>
                    <p class="text-justify"> <i> </i>
                        PetrolerosMx es una comunidad dinámica de profesionales en ingeniería petrolera, unidos por su pasión por la investigación y el intercambio de conocimiento. Nos dedicamos a crear un espacio de colaboración y aprendizaje continuo, promoviendo la innovación y prácticas sostenibles en nuestra industria. Creemos que el futuro de la ingeniería petrolera se construye a través de la colaboración y el conocimiento compartido, comprometiéndonos a contribuir positivamente a la sociedad y al medio ambiente.
                    </p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categorias</h6>
                    <ul class="footer-links">
                        <li><a href="">Perforación</a></li>
                        <li><a href="">Yacimientos</a></li>
                        <li><a href="">Producción</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h6>Contacto</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/about/">Ernesto Guevara Tapia</a></li>
                        <li><a href="http://scanfcode.com/contact/">neto.guevara.tapia@gmail.com</a></li>
                        <li><a href="http://scanfcode.com/contribute-at-scanfcode/">CDMX, México.</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2024
                        <a href="#">PetrolerosMx</a>.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="whatsApp" href="#"><i class="fa fa-whatsapp"></i></a></li>
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scrips de bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>